.saved-words {
  margin-top: 1.5rem;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: var(--main-color);
    font-size: 4rem;
  }
}

.list {
  align-self: center;
  list-style: none;

  & > li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    gap: 50rem;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      border-bottom: 1px solid var(--main-color); /* Add a line (change color as needed) */
      margin-top: 50px; /* Add spacing between line and next item */
    }

    & svg {
      width: 20px;
      height: 20px;
      transition: transform .2s ease-in-out;

      & > path {
        stroke: var(--main-color);
      }

      &:hover {
        transform: translateY(-2px);
        cursor: pointer;

        & > path {
          stroke: var(--loader);
        }
      }
    }

    & p {
      position: relative;
      color: var(--main-color);
      transition: color .2s ease-in-out, transform .2s ease-in-out;
      border-bottom: 2px solid transparent;

      &:hover {
        transform: translateY(-2px);
        cursor: pointer;
        color: var(--loader);
        border-bottom: 2px solid var(--loader);
      }
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

  }
}