.saved-words {
  margin-top: 1.5rem;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: var(--main-color);
    font-size: 4rem;
  }
}

.list {
  align-self: start;
  list-style: none;

  & > li {
    font-size: 3rem;
    color: var(--main-color);

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}