
//Colors
$color-purple: #AA45ED;
$color-dark-purple: hsl(328, 98%, 49%);
$color-grey: #757575;
$color-light-grey: #979797;
$color-white-dark: #F4F4F4;
$color-white: #FFFFFF;
$color-black: #050505;
$color-black-2: #1F1F1F;
$color-black-3: #2D2D2D;
$color-black-4: #3A3A3A;
$color-red: #FF5252;



